@use "sass:math";

@keyframes _lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin lds-roller($size: 80, $bulletSize: 7, $bulletCount: 8, $animationDelayStep: 0.036s, $bulletVerticalDistance: 5, $bulletVerticalDistanceStep: -2) {
    $halfSize  : math.round($size / 2);
    $radius    : $halfSize - $bulletSize;
    $size      : $size + 0px;
    $halfSizePx: $halfSize + 0px;
    $bulletSize: $bulletSize + 0px;

    display : inline-block;
    position: relative;
    width   : $size;
    height  : $size;

    & div {
        animation       : _lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: $halfSizePx $halfSizePx;
        $margin         : 0px - math.round($bulletSize / 2);

        &:after {
            content      : " ";
            display      : block;
            position     : absolute;
            width        : $bulletSize;
            height       : $bulletSize;
            border-radius: 50%;
            background   : #fff;
            margin       : $margin 0 0 $margin;
        }

        $animationDelay : 0s;
        $top            : math.round($halfSize + ($radius / math.sqrt(2)));
        $radius2        : $radius * $radius;

        // @for $i from 1 to 1+$bulletCount {
        //     $animationDelay: $animationDelay - $animationDelayStep;

        //     &:nth-child(#{$i}) {
        //         animation-delay: $animationDelay;
        //         $yFromCenter   : $halfSize - $top;

        //         &:after {
        //             top : $top;
        //             left: math.round($halfSizePx + math.sqrt($radius2 - $yFromCenter * $yFromCenter));
        //         }

        //     }

        //     $top: $top + $bulletVerticalDistance;

        //     $bulletVerticalDistance: $bulletVerticalDistance + $bulletVerticalDistanceStep;
        // }


        &:nth-child(1) {
            animation-delay: -0.036s;
        }

        &:nth-child(1):after {
            top : 63px;
            left: 63px;
        }

        &:nth-child(2) {
            animation-delay: -0.072s;
        }

        &:nth-child(2):after {
            top : 68px;
            left: 56px;
        }

        &:nth-child(3) {
            animation-delay: -0.108s;
        }

        &:nth-child(3):after {
            top : 71px;
            left: 48px;
        }

        &:nth-child(4) {
            animation-delay: -0.144s;
        }

        &:nth-child(4):after {
            top : 72px;
            left: 40px;
        }

        &:nth-child(5) {
            animation-delay: -0.18s;
        }

        &:nth-child(5):after {
            top : 71px;
            left: 32px;
        }

        &:nth-child(6) {
            animation-delay: -0.216s;
        }

        &:nth-child(6):after {
            top : 68px;
            left: 24px;
        }

        &:nth-child(7) {
            animation-delay: -0.252s;
        }

        &:nth-child(7):after {
            top : 63px;
            left: 17px;
        }

        &:nth-child(8) {
            animation-delay: -0.288s;
        }

        &:nth-child(8):after {
            top : 56px;
            left: 12px;
        }
    }

}